<h2 class="h5 font-weight-bold">
  Selected properties
</h2>
<div class="table-responsive selected-table">
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Postcode</th>
        <th scope="col">Number of rooms</th>
        <th scope="col">Floor area (m<sup>2</sup>)</th>
      </tr>
    </thead>
    <tbody>
      {{#each properties as |property|}}
        <tr>
          <td>{{property.address}}</td>
          <td>{{property.postcode}}</td>
          <td>{{property.numberOfRooms}}</td>
          <td>{{property.floorArea}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
