<h2>
  Selected properties
</h2>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Address</th>
        <th scope="col">Postcode</th>
        <th scope="col">Number of rooms</th>
        <th scope="col">Floor area (m<sup>2</sup>)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>sfjshgfsdfsdf sf</td>
        <td>20095</td>
        <td>5</td>
        <td>63</td>
      </tr>
      <tr>
        <td>12 uptjhothjtot</td>
        <td>22299</td>
        <td>3</td>
        <td>22</td>
      </tr>
    </tbody>
  </table>
</div>
