<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <img id="logo" src="/assets/immo-logo.svg" alt="" class="img-thumbnail">
        <h1 class="h4">Property search tool</h1>
      </div>
    </div>
  </div>
</header>
