<form method="POST" onsubmit={{action "onFormSubmit"}}>
  <div class="form-row">
    <div class="col">
      <label for="propertySearchBox">Search</label>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <input type="text"
        class="form-control"
        id="propertySearchBox"
        placeholder="Address"
        value={{searchQuery}}
      />
    </div>
    <div class="col-xs-4">
      <button class="btn btn-primary btn-block" type="submit">Search</button>
    </div>
  </div>
</form>
