<h2>
  Property types
</h2>
<ul>
  <li>
    <a href="">
      All
    </a>
  </li>
  <li>
    <a href="">
      Flat
    </a>
  </li>
  <li>
    <a href="">
      Terraced house
    </a>
  </li>
  <li>
    <a href="">
      Semi-detached
    </a>
  </li>
</ul>
